name: Deploy to Firebase Hosting
on:
  push:
    branches:
      - main  # আপনার ব্রাঞ্চের নাম main না হয়ে master হলে সেটা লিখবেন
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_BAZAR_201E6 }}'
          channelId: live
          projectId: bazar-201e6
